/*===============================================
  A. Margin Helpers
================================================= */
.m-0 {
  margin: 0px !important; }

.mt-0 {
  margin-top: 0px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.ml-0 {
  margin-left: 0px !important; }

.mr-0 {
  margin-right: 0px !important; }

.mv-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.mh-0 {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.m-2 {
  margin: 2px !important; }

.mt-2 {
  margin-top: 2px !important; }

.mb-2 {
  margin-bottom: 2px !important; }

.ml-2 {
  margin-left: 2px !important; }

.mr-2 {
  margin-right: 2px !important; }

.mv-2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important; }

.mh-2 {
  margin-left: 2px !important;
  margin-right: 2px !important; }

.m-5 {
  margin: 5px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.ml-5 {
  margin-left: 5px !important; }

.mr-5 {
  margin-right: 5px !important; }

.mv-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.mh-5 {
  margin-left: 5px !important;
  margin-right: 5px !important; }

.m-10 {
  margin: 10px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.ml-10 {
  margin-left: 10px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mv-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.mh-10 {
  margin-left: 10px !important;
  margin-right: 10px !important; }

.m-15 {
  margin: 15px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.ml-15 {
  margin-left: 15px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mv-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.mh-15 {
  margin-left: 15px !important;
  margin-right: 15px !important; }

.m-20 {
  margin: 20px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.ml-20 {
  margin-left: 20px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mv-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.mh-20 {
  margin-left: 20px !important;
  margin-right: 20px !important; }

.m-25 {
  margin: 25px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.ml-25 {
  margin-left: 25px !important; }

.mr-25 {
  margin-right: 25px !important; }

.mv-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important; }

.mh-25 {
  margin-left: 25px !important;
  margin-right: 25px !important; }

.m-30 {
  margin: 30px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.ml-30 {
  margin-left: 30px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mv-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.mh-30 {
  margin-left: 30px !important;
  margin-right: 30px !important; }

.m-35 {
  margin: 35px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.ml-35 {
  margin-left: 35px !important; }

.mr-35 {
  margin-right: 35px !important; }

.mv-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important; }

.mh-35 {
  margin-left: 35px !important;
  margin-right: 35px !important; }

.m-40 {
  margin: 40px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.ml-40 {
  margin-left: 40px !important; }

.mr-40 {
  margin-right: 40px !important; }

.mv-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.mh-40 {
  margin-left: 40px !important;
  margin-right: 40px !important; }

.m-50 {
  margin: 50px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-50 {
  margin-right: 50px !important; }

.mv-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.mh-50 {
  margin-left: 50px !important;
  margin-right: 50px !important; }

.m-70 {
  margin: 70px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.ml-70 {
  margin-left: 70px !important; }

.mr-70 {
  margin-right: 70px !important; }

.mv-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important; }

.mh-70 {
  margin-left: 70px !important;
  margin-right: 70px !important; }

.m-100 {
  margin: 100px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-100 {
  margin-left: 100px !important; }

.mr-100 {
  margin-right: 100px !important; }

.mv-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important; }

.mh-100 {
  margin-left: 100px !important;
  margin-right: 100px !important; }

.m-150 {
  margin: 150px !important; }

.mt-150 {
  margin-top: 150px !important; }

.mb-150 {
  margin-bottom: 150px !important; }

.ml-150 {
  margin-left: 150px !important; }

.mr-150 {
  margin-right: 150px !important; }

.mv-150 {
  margin-top: 150px !important;
  margin-bottom: 150px !important; }

.mh-150 {
  margin-left: 150px !important;
  margin-right: 150px !important; }

.m-200 {
  margin: 200px !important; }

.mt-200 {
  margin-top: 200px !important; }

.mb-200 {
  margin-bottom: 200px !important; }

.ml-200 {
  margin-left: 200px !important; }

.mr-200 {
  margin-right: 200px !important; }

.mv-200 {
  margin-top: 200px !important;
  margin-bottom: 200px !important; }

.mh-200 {
  margin-left: 200px !important;
  margin-right: 200px !important; }

/*===============================================
  B. Padding Helpers
================================================= */
.p-0 {
  padding: 0px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pl-0 {
  padding-left: 0px !important; }

.pr-0 {
  padding-right: 0px !important; }

.pv-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.ph-0 {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.p-2 {
  padding: 2px !important; }

.pt-2 {
  padding-top: 2px !important; }

.pb-2 {
  padding-bottom: 2px !important; }

.pl-2 {
  padding-left: 2px !important; }

.pr-2 {
  padding-right: 2px !important; }

.pv-2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important; }

.ph-2 {
  padding-left: 2px !important;
  padding-right: 2px !important; }

.p-5 {
  padding: 5px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pl-5 {
  padding-left: 5px !important; }

.pr-5 {
  padding-right: 5px !important; }

.pv-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.ph-5 {
  padding-left: 5px !important;
  padding-right: 5px !important; }

.p-10 {
  padding: 10px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pv-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.ph-10 {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.p-15 {
  padding: 15px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pv-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.ph-15 {
  padding-left: 15px !important;
  padding-right: 15px !important; }

.p-20 {
  padding: 20px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pv-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.ph-20 {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.p-25 {
  padding: 25px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pr-25 {
  padding-right: 25px !important; }

.pv-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important; }

.ph-25 {
  padding-left: 25px !important;
  padding-right: 25px !important; }

.p-30 {
  padding: 30px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pv-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.ph-30 {
  padding-left: 30px !important;
  padding-right: 30px !important; }

.p-35 {
  padding: 35px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pr-35 {
  padding-right: 35px !important; }

.pv-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important; }

.ph-35 {
  padding-left: 35px !important;
  padding-right: 35px !important; }

.p-40 {
  padding: 40px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pr-40 {
  padding-right: 40px !important; }

.pv-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

.ph-40 {
  padding-left: 40px !important;
  padding-right: 40px !important; }

.p-50 {
  padding: 50px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pr-50 {
  padding-right: 50px !important; }

.pv-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.ph-50 {
  padding-left: 50px !important;
  padding-right: 50px !important; }

.p-70 {
  padding: 70px !important; }

.pt-70 {
  padding-top: 70px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.pl-70 {
  padding-left: 70px !important; }

.pr-70 {
  padding-right: 70px !important; }

.pv-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important; }

.ph-70 {
  padding-left: 70px !important;
  padding-right: 70px !important; }

.p-100 {
  padding: 100px !important; }

.pt-100 {
  padding-top: 100px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.pl-100 {
  padding-left: 100px !important; }

.pr-100 {
  padding-right: 100px !important; }

.pv-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important; }

.ph-100 {
  padding-left: 100px !important;
  padding-right: 100px !important; }

.p-150 {
  padding: 150px !important; }

.pt-150 {
  padding-top: 150px !important; }

.pb-150 {
  padding-bottom: 150px !important; }

.pl-150 {
  padding-left: 150px !important; }

.pr-150 {
  padding-right: 150px !important; }

.pv-150 {
  padding-top: 150px !important;
  padding-bottom: 150px !important; }

.ph-150 {
  padding-left: 150px !important;
  padding-right: 150px !important; }

.p-200 {
  padding: 200px !important; }

.pt-200 {
  padding-top: 200px !important; }

.pb-200 {
  padding-bottom: 200px !important; }

.pl-200 {
  padding-left: 200px !important; }

.pr-200 {
  padding-right: 200px !important; }

.pv-200 {
  padding-top: 200px !important;
  padding-bottom: 200px !important; }

.ph-200 {
  padding-left: 200px !important;
  padding-right: 200px !important; }

/*===============================================
  C. Width Helpers
================================================= */
.w-20 {
  width: 20px !important; }

.w-30 {
  width: 30px !important; }

.w-40 {
  width: 40px !important; }

.w-50 {
  width: 50px !important; }

.w-60 {
  width: 60px !important; }

.w-100 {
  width: 100px !important; }

.w-110 {
  width: 110px !important; }

.w-125 {
  width: 125px !important; }

.w-140 {
  width: 140px !important; }

.w-150 {
  width: 150px !important; }

.w-200 {
  width: 200px !important; }

.w-250 {
  width: 250px !important; }

.w-300 {
  width: 300px !important; }

.w-350 {
  width: 350px !important; }

.w-400 {
  width: 400px !important; }

.w-450 {
  width: 450px !important; }

.wp-5 {
  width: 5% !important; }

.wp-10 {
  width: 10% !important; }

.wp-15 {
  width: 15% !important; }

.wp-20 {
  width: 20% !important; }

.wp-25 {
  width: 25% !important; }

.wp-30 {
  width: 30% !important; }

.wp-35 {
  width: 35% !important; }

.wp-40 {
  width: 40% !important; }

.wp-45 {
  width: 45% !important; }

.wp-50 {
  width: 50% !important; }

.wp-60 {
  width: 60% !important; }

.wp-70 {
  width: 70% !important; }

.wp-80 {
  width: 80% !important; }

.wp-90 {
  width: 90% !important; }

.wp-100 {
  width: 100% !important; }

.minw-20 {
  min-width: 20px !important; }

.maxw-20 {
  max-width: 20px !important; }

.minh-20 {
  min-height: 20px !important; }

.maxh-20 {
  max-height: 20px !important; }

.minw-30 {
  min-width: 30px !important; }

.maxw-30 {
  max-width: 30px !important; }

.minh-30 {
  min-height: 30px !important; }

.maxh-30 {
  max-height: 30px !important; }

.minw-40 {
  min-width: 40px !important; }

.maxw-40 {
  max-width: 40px !important; }

.minh-40 {
  min-height: 40px !important; }

.maxh-40 {
  max-height: 40px !important; }

.minw-50 {
  min-width: 50px !important; }

.maxw-50 {
  max-width: 50px !important; }

.minh-50 {
  min-height: 50px !important; }

.maxh-50 {
  max-height: 50px !important; }

.minw-60 {
  min-width: 60px !important; }

.maxw-60 {
  max-width: 60px !important; }

.minh-60 {
  min-height: 60px !important; }

.maxh-60 {
  max-height: 60px !important; }

.minw-100 {
  min-width: 100px !important; }

.maxw-100 {
  max-width: 100px !important; }

.minh-100 {
  min-height: 100px !important; }

.maxh-100 {
  max-height: 100px !important; }

.minw-110 {
  min-width: 110px !important; }

.maxw-110 {
  max-width: 110px !important; }

.minh-110 {
  min-height: 110px !important; }

.maxh-110 {
  max-height: 110px !important; }

.minw-125 {
  min-width: 125px !important; }

.maxw-125 {
  max-width: 125px !important; }

.minh-125 {
  min-height: 125px !important; }

.maxh-125 {
  max-height: 125px !important; }

.minw-140 {
  min-width: 140px !important; }

.maxw-140 {
  max-width: 140px !important; }

.minh-140 {
  min-height: 140px !important; }

.maxh-140 {
  max-height: 140px !important; }

.minw-150 {
  min-width: 150px !important; }

.maxw-150 {
  max-width: 150px !important; }

.minh-150 {
  min-height: 150px !important; }

.maxh-150 {
  max-height: 150px !important; }

.minw-200 {
  min-width: 200px !important; }

.maxw-200 {
  max-width: 200px !important; }

.minh-200 {
  min-height: 200px !important; }

.maxh-200 {
  max-height: 200px !important; }

.minw-250 {
  min-width: 250px !important; }

.maxw-250 {
  max-width: 250px !important; }

.minh-250 {
  min-height: 250px !important; }

.maxh-250 {
  max-height: 250px !important; }

.minw-300 {
  min-width: 300px !important; }

.maxw-300 {
  max-width: 300px !important; }

.minh-300 {
  min-height: 300px !important; }

.maxh-300 {
  max-height: 300px !important; }

.minw-350 {
  min-width: 350px !important; }

.maxw-350 {
  max-width: 350px !important; }

.minh-350 {
  min-height: 350px !important; }

.maxh-350 {
  max-height: 350px !important; }

.minw-400 {
  min-width: 400px !important; }

.maxw-400 {
  max-width: 400px !important; }

.minh-400 {
  min-height: 400px !important; }

.maxh-400 {
  max-height: 400px !important; }

.minw-450 {
  min-width: 450px !important; }

.maxw-450 {
  max-width: 450px !important; }

.minh-450 {
  min-height: 450px !important; }

.maxh-450 {
  max-height: 450px !important; }

/*===============================================
  D. Font Helpers
================================================= */
.fw-100 {
  font-weight: 100 !important; }

.fw-300 {
  font-weight: 300 !important; }

.fw-400 {
  font-weight: 400 !important; }

.fw-500 {
  font-weight: 500 !important; }

.fw-600 {
  font-weight: 600 !important; }

.fw-700 {
  font-weight: 700 !important; }

.fs-8 {
  font-size: 8px !important; }

.fs-9 {
  font-size: 9px !important; }

.fs-10 {
  font-size: 10px !important; }

.fs-11 {
  font-size: 11px !important; }

.fs-12 {
  font-size: 12px !important; }

.fs-13 {
  font-size: 13px !important; }

.fs-14 {
  font-size: 14px !important; }

.fs-15 {
  font-size: 15px !important; }

.fs-16 {
  font-size: 16px !important; }

.fs-18 {
  font-size: 18px !important; }

.fs-20 {
  font-size: 20px !important; }

.fs-24 {
  font-size: 24px !important; }

.fs-28 {
  font-size: 28px !important; }

.fs-32 {
  font-size: 32px !important; }

/*===============================================
  E. Align Helpers
================================================= */
.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

/*===============================================
  E. Flex Helpers
================================================= */
.flex-row {
  display: flex; }
  .flex-row.centered {
    justify-content: center; }
  .flex-row.right {
    justify-content: flex-end; }
  .flex-row.spaced {
    justify-content: space-between; }
  .flex-row.v-centered {
    align-items: center; }
  .flex-row.column {
    flex-direction: column; }
